<form action="/register" method="post">
  <table>
    <tr>
      <th></th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
    </tr>

    <tr>
      <th>1</th>
      <td><input type="checkbox" name="timetable[]" value="mon1"></td>
      <td><input type="checkbox" name="timetable[]" value="tue1"></td>
      <td><input type="checkbox" name="timetable[]" value="wed1"></td>
      <td><input type="checkbox" name="timetable[]" value="thu1"></td>
      <td><input type="checkbox" name="timetable[]" value="fri1"></td>
    </tr>

    <tr>
      <th>2</th>
      <td><input type="checkbox" name="timetable[]" value="mon2"></td>
      <td><input type="checkbox" name="timetable[]" value="tue2"></td>
      <td><input type="checkbox" name="timetable[]" value="wed2"></td>
      <td><input type="checkbox" name="timetable[]" value="thu2"></td>
      <td><input type="checkbox" name="timetable[]" value="fri2"></td>
    </tr>

    <tr>
      <th>3</th>
      <td><input type="checkbox" name="timetable[]" value="mon3"></td>
      <td><input type="checkbox" name="timetable[]" value="tue3"></td>
      <td><input type="checkbox" name="timetable[]" value="wed3"></td>
      <td><input type="checkbox" name="timetable[]" value="thu3"></td>
      <td><input type="checkbox" name="timetable[]" value="fri3"></td>
    </tr>

    <tr>
      <th>4</th>
      <td><input type="checkbox" name="timetable[]" value="mon4"></td>
      <td><input type="checkbox" name="timetable[]" value="tue4"></td>
      <td><input type="checkbox" name="timetable[]" value="wed4"></td>
      <td><input type="checkbox" name="timetable[]" value="thu4"></td>
      <td><input type="checkbox" name="timetable[]" value="fri4"></td>
    </tr>

    <tr>
      <th>5</th>
      <td><input type="checkbox" name="timetable[]" value="mon5"></td>
      <td><input type="checkbox" name="timetable[]" value="tue5"></td>
      <td><input type="checkbox" name="timetable[]" value="wed5"></td>
      <td><input type="checkbox" name="timetable[]" value="thu5"></td>
      <td><input type="checkbox" name="timetable[]" value="fri5"></td>
    </tr>

    <tr>
      <th>6</th>
      <td><input type="checkbox" name="timetable[]" value="mon6"></td>
      <td><input type="checkbox" name="timetable[]" value="tue6"></td>
      <td><input type="checkbox" name="timetable[]" value="wed6"></td>
      <td><input type="checkbox" name="timetable[]" value="thu6"></td>
      <td><input type="checkbox" name="timetable[]" value="fri6"></td>
    </tr>


  </table>

  <input type="submit" value="登録">

</form>