<div class="container">

  <div class="row justify-content-center mt-3">
    <h2>時間割登録</h2>


  </div>

  <div class="row justify-content-center">
    <p>授業のあるコマにチェックを入れてください</p>
  </div>
  <div class="row justify-content-center">
    <form action="/register" method="post" class="mt-3">
      <table class="table-bordered">
        <tr>
          <th></th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
        </tr>

        <tr>
          <th>1</th>
          <td><input type="checkbox" name="timetable[]" value="mon1" <% if @mon1 %> checked="checked" <% end %>></td>
          <td><input type="checkbox" name="timetable[]" value="tue1" <% if @tue1 %> checked="checked" <% end %>></td>
          <td><input type="checkbox" name="timetable[]" value="wed1" <% if @wed1 %> checked="checked" <% end %>></td>
          <td><input type="checkbox" name="timetable[]" value="thu1" <% if @thu1 %> checked="checked" <% end %>></td>
          <td><input type="checkbox" name="timetable[]" value="fri1" <% if @fri1 %> checked="checked" <% end %>></td>
        </tr>

        <tr>
          <th>2</th>
          <td><input type="checkbox" name="timetable[]" value="mon2" <% if @mon2 %> checked="checked" <% end %>></td>
          <td><input type="checkbox" name="timetable[]" value="tue2" <% if @tue2 %> checked="checked" <% end %>></td>
          <td><input type="checkbox" name="timetable[]" value="wed2" <% if @wed2 %> checked="checked" <% end %>></td>
          <td><input type="checkbox" name="timetable[]" value="thu2" <% if @thu2 %> checked="checked" <% end %>></td>
          <td><input type="checkbox" name="timetable[]" value="fri2" <% if @fri2 %> checked="checked" <% end %>></td>
        </tr>

        <tr>
          <th>3</th>
          <td><input type="checkbox" name="timetable[]" value="mon3" <% if @mon3 %> checked="checked" <% end %>></td>
          <td><input type="checkbox" name="timetable[]" value="tue3" <% if @tue3 %> checked="checked" <% end %>></td>
          <td><input type="checkbox" name="timetable[]" value="wed3" <% if @wed3 %> checked="checked" <% end %>></td>
          <td><input type="checkbox" name="timetable[]" value="thu3" <% if @thu3 %> checked="checked" <% end %>></td>
          <td><input type="checkbox" name="timetable[]" value="fri3" <% if @fri3 %> checked="checked" <% end %>></td>
        </tr>

        <tr>
          <th>4</th>
          <td><input type="checkbox" name="timetable[]" value="mon4" <% if @mon4 %> checked="checked" <% end %>></td>
          <td><input type="checkbox" name="timetable[]" value="tue4" <% if @tue4 %> checked="checked" <% end %>></td>
          <td><input type="checkbox" name="timetable[]" value="wed4" <% if @wed4 %> checked="checked" <% end %>></td>
          <td><input type="checkbox" name="timetable[]" value="thu4" <% if @thu4 %> checked="checked" <% end %>></td>
          <td><input type="checkbox" name="timetable[]" value="fri4" <% if @fri4 %> checked="checked" <% end %>></td>
        </tr>

        <tr>
          <th>5</th>
          <td><input type="checkbox" name="timetable[]" value="mon5" <% if @mon5 %> checked="checked" <% end %>></td>
          <td><input type="checkbox" name="timetable[]" value="tue5" <% if @tue5 %> checked="checked" <% end %>></td>
          <td><input type="checkbox" name="timetable[]" value="wed5" <% if @wed5 %> checked="checked" <% end %>></td>
          <td><input type="checkbox" name="timetable[]" value="thu5" <% if @thu5 %> checked="checked" <% end %>></td>
          <td><input type="checkbox" name="timetable[]" value="fri5" <% if @fri5 %> checked="checked" <% end %>></td>
        </tr>

        <tr>
          <th>6</th>
          <td><input type="checkbox" name="timetable[]" value="mon6" <% if @mon6 %> checked="checked" <% end %>></td>
          <td><input type="checkbox" name="timetable[]" value="tue6" <% if @tue6 %> checked="checked" <% end %>></td>
          <td><input type="checkbox" name="timetable[]" value="wed6" <% if @wed6 %> checked="checked" <% end %>></td>
          <td><input type="checkbox" name="timetable[]" value="thu6" <% if @thu6 %> checked="checked" <% end %>></td>
          <td><input type="checkbox" name="timetable[]" value="fri6" <% if @fri6 %> checked="checked" <% end %>></td>
        </tr>


      </table>

      <button type="submit" class="btn btn-success btn-block mt-3">登録</button>

    </form>
  </div>

</div>
