<div class="container">
  <div class="border" style="margin-top: 150px">
    <div class="row justify-content-center pt-5">
      <%# <img src="/assets/brand-logos/logo-cropped.jpg" width="280" class="mr-4
      img-fluid"> %>
      <div class="col-8 col-lg-4 mr-4">
        <img src="/assets/brand-logos/logo-cropped.jpg" class="img-fluid">
      </div>


    </div>

    <div class="row justify-content-center">
      <p class="mt-2">- SFC生のための空きコママッチング -</p>
    </div>

    <div class="row justify-content-center">

        <form action="/signin" method="post" class="col-8 col-lg-4">
          <input class="form-control" type="text" name="name" placeholder="ユーザーネーム">
          <input class="form-control mt-3" type="password" name="password" placeholder="パスワード">

          <button type="submit" class="btn btn-success btn-block mt-4 mb-3">ログイン</button>
        </form>


    </div>

    <div class="row justify-content-center">
      <div class="col-8 col-lg-4">
        <a href="/signup" class="float-right mb-3">新規登録</a>
      </div>
    </div>

  </div>




</div>
