<div class="container">

  <div class="border mb-5" style="margin-top: 100px">
      <div class="row justify-content-center pt-5 mr-4">
        <div class="col-8 col-lg-4">
          <img src="/assets/brand-logos/logo-cropped.jpg" class="img-fluid">
        </div>

      </div>

      <div class="row justify-content-center">
        <p class="mt-2">- SFC生のための空きコママッチング -</p>
      </div>

      <div class="row justify-content-center">

          <form action="/signup" method="post" enctype="multipart/form-data" class="col-8 col-lg-4">
            <input class="form-control mt-3" type="text" name="name" placeholder="ユーザーネーム" required>

            <input class="form-control mt-3" type="password" name="password" placeholder="パスワード" required>

            <input class="form-control mt-3 mb-3" type="password" name="password_confirmation" placeholder="パスワードの確認" required>
            <span class="form-text text-muted">
              パスワードは5文字以上10文字以内である必要があります
            </span>
            <label for="file" class="mt-3">プロフィール画像</label>
            <input class="form-control-file" type="file" name="file" id="file">
            <button type="submit" class="btn btn-success btn-block mt-3">新規登録</button>
          </form>


      </div>

      <div class="row justify-content-center pb-5">
        <div class="col-8 col-lg-4">
          <a href="/signin" class="float-right">ログイン</a>
        </div>
      </div>

  </div>
</div>